################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RihicoWeb/packages
/RihicoWeb/RihicoWeb/bin
/RihicoWeb/RihicoWeb/App_Data/TEMP
RihicoWeb/.vs/RihicoWeb/v15/.suo
