@using RihicoWeb.Models
@model ComicViewModel
@{
    Layout = "~/Views/umbLayout.cshtml";
}
<script src="~/Scripts/frontend/getcomic.js"></script>
<div id="main-wrapper" ng-app="getComic" ng-controller="getComicController">
    <div id="main" class="container">
        <div class="row">
            <h2 class="text-center">Comic Downloader</h2>
            @Html.LabelFor(x => x.Url)
            @Html.TextBoxFor(x => x.Url, new { ng_model = "model.url", @class = "form-control" })
            <br />
            <button class="btn btn-success form-control" ng-click="getComic()">GetComic</button>
            <div id="viewResult" ng-repeat="comic in model.comicList">

            </div>
            <table id="viewResultTbl" class="table table-striped">
                <thead>
                    <tr>
                        <th>Comic Name</th>
                        <td>Comic Link</td>
                        <td>Detail</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="comic in model.comicList">
                        <td>{{comic.label}}</td>
                        <td>{{comic.url}}</td>
                        <td><button class="btn btn-primary" ng-click="getComicDetail(comic.label, comic.url)">Detail</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @* Modal Div *@
    <div id="comicDetailModal" style="display:none;">
        <table id="comicDetailTbl" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <td>Link</td>
                    <td>Download</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comic in model.comicChapterList">
                    <td>{{comic.label}}</td>
                    <td>{{comic.url}}</td>
                    <td><button class="btn btn-primary" ng-click="downloadComic(comic.label, comic.url)">Download</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>